<header class="relative flex justify-between items-center shadow-md px-4">
    <button class="mobile md:hidden" title="Menu Mobile" (click)="toggleMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <a [routerLink]="['/']" class="nav-brand flex items-center">
        <img class="h-12 w-12" [src]="brandLogo" alt="">
        <span class="text-2xl font-bold min-w-fit">{{brand}}</span>
    </a>
    <nav class="hidden absolute top-full left-0 w-full bg-slate-200
        md:block md:static md:bg-transparent" [class.active]="isShow">
        <ul class="md:flex md:justify-center md:items-center">
            <li>
                <a class="block hover:bg-slate-100 p-3 md:hover:bg-transparent hover:text-blue-700"
                    [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a class="block hover:bg-slate-100 p-3 md:hover:bg-transparent hover:text-blue-700"
                    [routerLink]="['/master/dashboard']">Manager</a>
            </li>
            <li>
                <a class="block hover:bg-slate-100 p-3 md:hover:bg-transparent hover:text-blue-700"
                    [routerLink]="['/about']">About</a>
            </li>
            <li>
                <a class="block hover:bg-slate-100 p-3 md:hover:bg-transparent hover:text-blue-700"
                    [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
    </nav>
    <ul class="flex justify-center items-center">
        <li><a class="p-3 hover:text-blue-700" [routerLink]="['/auth/login']">Login</a></li>
        <li><a class="p-3 hover:text-blue-700" [routerLink]="['/auth/register']">Register</a></li>
    </ul>
</header>
